#title{
}
#title .wrap{
}
#title ul.slide{
  color: #fff;
  height: 58.59375vh;
}
#title ul.slide li{
  position: relative;
  text-align: center;
}
#title ul.slide li h2{
  animation-name: slideh2;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-duration: 1s;
  -webkit-animation-name: slideh2;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-duration: 1.5s;
}
@keyframes slideh2{
  0%{
    opacity: 0;
  }
  50%{
    transform: translateX(20%);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
#title ul.slide li p{
  animation: slidep forwards 1 1s;
  -webkit-animation: slidep forwards 1 1.5s;
}
@keyframes slidep{
  0%{
    opacity: 0;
  }
  50%{
    transform: translateX(-20%);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
.slide_title{
  position: absolute;
  width: 100%;
  height: 150px;
  top: calc(100% / 2 - 75px);
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#title img{
  height: 58.59375vh;
}

.slick-dots li button::before {
    font-size: 30px !important;  
}
 
